.btn-done{
    display:inline-block;
    vertical-align: middle;
    margin:1rem;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 40px;
    color: #ffffff;
    background-image: linear-gradient(to right, #ee8425 0%, #f9488b 100%), linear-gradient(to right, #ee8425 0%, #f9488b 100%);
}


.join__class__body{
   
    margin: 5rem 0;
}

.join__class__body input{
    height: 3rem;
    width:70%;
    border-bottom: 1px solid rgb(200, 200, 200);
}



.autoComplete{
    padding:1rem;
    margin-top: 0.5rem;
    margin-left: 7rem;
    text-align:center;
    width:70%;

    box-shadow:1px 1px 1px rgb(200, 200, 200);
    border-radius: 10px;
}

.autoComplete ul {
    list-style-type: none;
    text-decoration: none;
    text-align: left;
}

.autoComplete ul li{
    cursor: pointer;
    margin-top: 0.3rem;
}