.SideContainer{
    float:left;
    width:200px;
    height:80vh;
    background-color: #fff;
    border: 0.5px solid rgb(223, 223, 223);
    border-radius: 10px;
    
}

.listContainer {
    width:100%;
    display:block;
    height:100%;
}

.MenuList {
    display:block;
    width:100%;
    list-style-type: none;
}

.listItem{
    width:100%;
    display:block;
    text-align:left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}

.listItem:hover{
    cursor:pointer;
    background-color: rgb(223, 223, 223);
}