.profileInfo{
    display:flex;
    text-align:left;
    margin: 4rem 2rem;
    height:100%;

    width:80%;

}


.thumbnail{
    display:block;
    width:80px;
    height:80px;
}

.thumbnail img{
    width: 4rem;
    border-radius: 100px !important;
}


.userInfo{
    margin:0 3rem;
}

.username{
    display:block;
    margin-bottom:1rem;
}

.email{
    display:block;
    margin-bottom:1rem;
}